<mat-card>
    <section class="mat-typography">
        <h1>ADD/EDIT RECORD</h1>
        <form [formGroup]="updateContentForm" (ngSubmit)="submit()">
            <section class="formtitle">
                <mat-form-field>
                    <mat-select placeholder="Type of Content" formControlName="selected_type" name="selected_type" required>
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section class="formtitle">
                <mat-form-field>
                    <input matInput type="text" placeholder="Title of Content" formControlName="content_title" required>
                </mat-form-field>
            </section>
           <section>
           
                <mat-chip-list>
                    <mat-chip *ngFor="let kw of keywords" [ngStyle]="{'background-color': kw.color}"[selectable]="selectable" (click)="switch(kw)">
                        {{kw.name}}
                    </mat-chip>

                </mat-chip-list>
           </section>
            <br />
            <section>
                <h2>Short Description</h2>
                <mat-form-field>
                    <textarea matInput class="smalltextarea" placeholder="Short Description" formControlName="short_desc"
                        required></textarea>
                </mat-form-field>
            </section>
            <br />
            <section>
                <h2>Long Description</h2>
                <mat-form-field>
                    <textarea matInput class="largetextarea" placeholder="Long Description" formControlName="long_desc"
                        required></textarea>
                </mat-form-field>
            </section>
            <section>
                <h2>File Upload</h2>
            </section>
            <section>
                <h2>Creation Details</h2>
                <mat-form-field>
                    <input matInput type="text" placeholder="Author" formControlName="author" required>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-select placeholder="School">
                        <mat-option *ngFor="let school of schools" [value]="school.value">
                            {{school.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput type="text" placeholder="Today's Date (autofill)" formControlName="date_today"
                        required>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput type="text" placeholder="Date Modified (autofill)" formControlName="date_modified"
                        required>
                </mat-form-field>
            </section>
            <button mat-raised-button type="submit">Update Record</button>

        </form>
    </section>
</mat-card>
